<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>1d7e29a32d9ec82b6a19c77d37de617e</string>
	<key>baseUrl</key>
	<string>https://api.openweathermap.org/data/2.5</string>
</dict>
</plist>
